<!--page wrapper-->
<div class="container">
    
{{> navbar/navbar}}
    <!--page header-->
    <div class="row">
        <div class="col header">
            <svg viewBox="0 0 860 250">
                <symbol id="web-coderskull">
                    <text text-anchor="middle" x="50%" y="70%">Blog Review</text>
                </symbol>
                <g class="webcoderskull">
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                </g>
            </svg>
        </div>
    </div>
    <div class="row">
        <div class="col text-center topBlogs">
            <h1>Top Blogs</h1>
        </div>
    </div>

    <div class="row">

        {{#each topTen}}
        <div class="col-4">
            <div class="card">
                <div class="card-body">

                    <h3 class="title">{{this.title}}</h3>
                    By: {{this.blog_author}}<br> Website: <a href="{{this.website}}" target="_blank">{{this.website}}</a><br> Description:
                    {{this.description}}<br> Rating: {{this.rating}}

                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="#" value="true">
                    </form>

                </div>
            </div>
        </div>
        {{/each}}



    </div>
</div>
 {{> scripts/scripts}}