<!--page wrapper-->
<div class="container">
    
{{> navbar/navbar}}
    <!--page header-->
    <div class="row">
        <div class="col header">
            <svg viewBox="0 0 860 250">
                <symbol id="web-coderskull">
                    <text text-anchor="middle" x="50%" y="70%">Blog Review</text>
                </symbol>
                <g class="webcoderskull">
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                </g>
            </svg>
        </div>
    </div>
    <div class="row">
        <div class="col text-center topBlogs">
            <h1>Top Blogs</h1>
        </div>
    </div>

    <div class="row">

        {{#each topTen}}
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a class="card-link" href="/blog/{{this.id}}">  
                        <h3 class="title">{{this.title}}</h3>
                    </a>
                    <p>By: {{this.blog_author}}</p>
                    <p>Website: <a href="{{this.website}}" target="_blank">{{this.website}}</a></p>
                    <p>Description: {{this.description}}</p> 
                    <p>Rating: {{this.rating}} </p>
                </div>
            </div>
        </div>
        {{/each}}



    </div>
</div>
 {{> scripts/scripts}}
