<div class="container">
    {{> navbar/navbar}} {{#each blogs}}
    <h1 class="mt-3 mb-3 title">{{title}}</h1>
    <p class="underline"><a href="{{website}}" target="_blank">{{website}}</a></p>
    <p class="indent">{{description}}</p>
    {{/each}}
    <!-- Add cumulative rating later -->
    
    <h2>Reviews</h2>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target={{#unless currentUserSub}}
        "#requiresLoginModal"{{/unless}} {{#if currentUserSub}} "#writeReviewModal"{{/if}}>Write Review
    </button> {{#each blog.Reviews}}
    <div class="card mt-3">
        <div class="card-body">
            <h3 class="title">{{this.title}}</h3>
            <h4><em><a class="colored-link" href="/user/{{this.User.id}}">{{this.User.name}}</a></em></h4>
            <p>{{this.body}}</p>
        </div>
    </div>
    {{/each}}
</div>

{{#unless currentUserSub}}
<!-- Modal that prompts sign in -->
<div class="modal fade" id="requiresLoginModal" tabindex="-1" role="dialog" aria-labelledby="requiresModalLogin" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content addOne">
            <p>You must log in to perform this action.</p>
            <a href="/login" class="no-decoration-link"><button type="button" class="btn btn-outline-success login">Sign up/Log in</button></a>
        </div>
    </div>
</div>
{{/unless}}

<!-- Modal to write a review-->
{{#if currentUserSub}}
<div id="writeReviewModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="writeReviewModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content addOne">
            <div class="modal-header">
                <h5 class="modal-title">Review for {{blog.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/api/reviews" method="POST" id="addReviewForm">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="rating" class="col-sm-2 col-form-label">Overall rating</label>
                        <div class="col-sm-10">
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
                                    title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                                    for="star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                                    title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                                    for="star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                                    title="Meh - 3 stars"></label>
                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                                    title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                                    for="star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                                    title="Sucks big time - 1 star"></label>
                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                                    title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="reviewTitle" class="col-sm-2 col-form-label">Review Title</label>
                        <div class="col-sm-10" id="reviewTitleHelper">
                            <input type="text" class="form-control" id="reviewTitle" name="title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="reviewBody" class="col-sm-2 col-form-label">Review</label>
                        <div class="col-sm-10" id="reviewTitleHelper">
                            <textarea cols="50" rows="10" id="reviewBody" name="body"></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="BlogId" value="{{blog.id}}">
                    <input type="hidden" name="userSub" value="{{currentUserSub}}">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit review</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/if}} {{> scripts/scripts}}