<div class="container">
    {{> navbar/navbar}} 
    {{#if foundResults}} 
    {{#each blogs}}
    <a class="no-decoration-link" href="/blog/{{this.title}}"><h1 class="mt-3 mb-3 title">{{title}}</h1></a>
    <p class="underline"><a href="{{website}}" target="_blank">{{website}}</a></p>
    <p class="indent">{{description}}</p>
    {{/each}}
    {{/if}}

    {{#unless foundResults}}
    <p class="no-results">
        The blog you're looking for can't be found!
        <br> Check your search term(s) and try again, or click on "Add Blog" to add a blog and review it.
    </p>
    {{/unless}}
   
</div>




 {{> scripts/scripts}}