<form action="/api/review/{{review.id}}?_method=PUT" method="POST" id="editReviewForm">
    <div class="form-group row">
        <label for="rating" class="col-sm-2 col-form-label">Overall rating</label>
        <div class="col-sm-10">
            <fieldset class="rating" data-rating="{{review.rating}}" id="ratingHelper">
                <input type="radio" id="star5" name="rating" value="5.0" /><label class="full" for="star5"
                    title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half"
                    for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4.0" /><label class="full" for="star4"
                    title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half"
                    for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3.0" /><label class="full" for="star3"
                    title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half"
                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2.0" /><label class="full" for="star2"
                    title="Bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half"
                    for="star1half" title="Bad - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1.0" /><label class="full" for="star1"
                    title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf"
                    title="Sucks big time - 0.5 stars"></label>
            </fieldset>
        </div>
    </div>
    <div class="form-group row">
        <label for="reviewTitle" class="col-sm-2 col-form-label">Review Title</label>
        <div class="col-sm-10" id="reviewTitleHelper">
            <input type="text" class="form-control" id="reviewTitle" name="title" value="{{review.title}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="reviewBody" class="col-sm-2 col-form-label">Review</label>
        <div class="col-sm-10" id="reviewTitleHelper">
            <textarea cols="50" rows="10" id="reviewBody" name="body">{{review.body}}</textarea>
        </div>
    </div>
    <input type="hidden" name="pastRating">
    <input type="hidden" name="BlogId" value="{{review.BlogId}}">
    <div id="errorMessage"></div>
    <button type="submit" class="btn btn-primary" id="submit-review-btn">Update review</button>
</form>

<script>
    var rating = $("fieldset").attr("data-rating");
    $("input[name='pastRating'").attr("value", rating)
    $("input[name='rating'][value='" + rating + "']").attr("checked", "checked")
</script>