<div id="writeReviewModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="writeReviewModal"
    aria-hidden="true" data-user-sub="{{currentUserSub}}" data-blog-id="{{blog.id}}"> 
    <div class="modal-dialog modal-lg">
        <div class="modal-content addOne">
            <div class="modal-header">
                <h5 class="modal-title">Review for {{blog.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-form">
                    <form action="/api/reviews" method="POST" id="addReviewForm">
                        <div class="form-group row">
                            <label for="rating" class="col-sm-2 col-form-label">Overall rating*</label>
                            <div class="col-sm-10">
                                <fieldset class="rating" id="ratingHelper">
                                    <input type="radio" id="star5" name="rating" value="5.0" /><label class="full" for="star5"
                                        title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half"
                                        for="star4half" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4" name="rating" value="4.0" /><label class="full" for="star4"
                                        title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half"
                                        for="star3half" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3" name="rating" value="3.0" /><label class="full" for="star3"
                                        title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half"
                                        for="star2half" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2" name="rating" value="2.0" /><label class="full" for="star2"
                                        title="Bad - 2 stars"></label>
                                    <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half"
                                        for="star1half" title="Bad - 1.5 stars"></label>
                                    <input type="radio" id="star1" name="rating" value="1.0" /><label class="full" for="star1"
                                        title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf"
                                        title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="reviewTitle" class="col-sm-2 col-form-label">Review Title</label>
                            <div class="col-sm-10" id="reviewTitleHelper">
                                <input type="text" class="form-control" id="reviewTitle" name="title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="reviewBody" class="col-sm-2 col-form-label">Review</label>
                            <div class="col-sm-10" id="reviewTitleHelper">
                                <textarea cols="50" rows="10" id="reviewBody" name="body"></textarea>
                            </div>
                        </div>
                        <input type="hidden" name="BlogId" value="{{blog.id}}">
                        <input type="hidden" name="userSub" value="{{currentUserSub}}">
                        <div id="errorMessage"></div>
                        <button type="submit" class="btn btn-primary" id="submit-review-btn">Submit review</button>
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>

<script>
  $("#writeReviewModal").on("show.bs.modal", function (event) {
      var userSub = $(this).attr("data-user-sub");
      var blogId = $(this).attr("data-blog-id");
      $.get("/api/review/check/" + blogId + "/" + userSub, function(reviewData) {
        // If there is already a review by this user...
        if(reviewData) {
            // Update the modal's content, alerting user that review already exists, and show edit modal.
            $("#addReviewForm").remove();
            $("#addReviewForm, .modal-body").prepend("<h5>You have already written a review for this movie. You may use the form below to edit it.</h5>")
            $("#addReviewForm, .modal-form").load("/api/review/edit/" + reviewData.id);
        };
    });
  });
</script>